@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$purple: #edc6ff;
$darkpurple: #b37ccd;

body {
  color: #545454;
  font-family: "IBM Plex Sans KR", sans-serif;
  height: 100dvh;
  width: 100%;

  .outerwrapper {
    height: 100%;
    width: 100%;

    border-top: 40px solid $purple;
    border-bottom: 40px solid $purple;

    display: flex;
    justify-content: center;

    position: relative;

    .musicBox {
      padding: 11px 10px;
      width: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: #edc6ff;
      display: flex;
      justify-content: center;
      align-items: center;


      &:hover {
        background-color: $darkpurple;
        cursor: pointer;
      }

      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-top: 20px;
      }
      p {
        font-weight: bold;
        font-size: smaller;
      }
    }
  }
}
