@charset "UTF-8";
@import url("https://css.gg/css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #545454;
  font-family: "IBM Plex Sans KR", sans-serif;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
body #cardContainer {
  width: 269px;
  height: 415px;
  background-color: rgb(255, 255, 255);
  background-image: url("test.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
body #cardContainer #photoControls div,
body #cardContainer #menuNav div {
  background-color: rgba(255, 255, 255, 0.75);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
body #cardContainer #photoControls div:hover,
body #cardContainer #menuNav div:hover {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.35);
  background-color: white;
  cursor: pointer;
}
body #cardContainer #menuNav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
body #cardContainer #menuNav .fa-xmark {
  font-size: 18px;
  padding-top: 2px;
}
body #cardContainer #menuNav #langBtn {
  font-weight: bold;
}
body #cardContainer #menuNav #openedMenu {
  display: none;
  gap: 10px;
  background: transparent;
  width: -moz-fit-content;
  width: fit-content;
}
body #cardContainer #photoControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #cardContainer #creditsSection,
body #cardContainer #photoSetsSection {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: none;
  padding: 1.25rem;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
body #cardContainer #creditsSection .topSec,
body #cardContainer #photoSetsSection .topSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
body #cardContainer #creditsSection .topSec div,
body #cardContainer #photoSetsSection .topSec div {
  background-color: rgba(255, 255, 255, 0.75);
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
body #cardContainer #creditsSection .topSec div:hover,
body #cardContainer #photoSetsSection .topSec div:hover {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.35);
  background-color: white;
  cursor: pointer;
}
body #cardContainer #creditsSection .bottomSec,
body #cardContainer #photoSetsSection .bottomSec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
  text-align: center;
}
body #creditsSection #hearts {
  display: flex;
  justify-content: center;
  gap: 5px;
}
body #creditsSection #hearts img {
  width: 20px;
}
body #creditsSection #koreanCredits {
  display: none;
}
body #photoSetsSection .bottomSec {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: center !important;
  justify-items: center !important;
  gap: 1rem !important;
  margin-bottom: 15px;
  width: 100%;
  height: 280px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}
body #photoSetsSection .bottomSec .outer_wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 3px solid white;
  position: relative;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
body #photoSetsSection .bottomSec .outer_wrapper.selected {
  border-color: rgb(255, 255, 255);
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
body #photoSetsSection .bottomSec .outer_wrapper.selected::after {
  content: "⭐";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: gold;
}
body #photoSetsSection .bottomSec .outer_wrapper.selected .inner_wrapper img {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
}
body #photoSetsSection .bottomSec .outer_wrapper:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}
body #photoSetsSection .bottomSec .outer_wrapper .inner_wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
body #photoSetsSection .bottomSec .outer_wrapper .inner_wrapper img {
  margin-top: -20px;
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(0.55px);
  -webkit-filter: blur(0.55px);
}
body #photoSetsSection .bottomSec .outer_wrapper .inner_wrapper img:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
body #photoSetsSection #photoSetControls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
body #photoSetsSection #photoSetControls div {
  background-color: rgba(255, 255, 255, 0.726);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
  padding: 2px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body #photoSetsSection #photoSetControls div:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  background-color: white;
  cursor: pointer;
}
body #photoSetsSection #korH1 {
  display: none;
}/*# sourceMappingURL=style.css.map */